<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_team4.finalbe.content.mapper.ContentMapper">

    <select id="findAll" resultType="Content">
        SELECT
            C.ID,
            C.JOB_ID,
            C.USER_ID,
            C.UPLOAD_CHANNEL_ID,
            C.TITLE,
            C.BODY,
            C.STATUS,
            C.GENERATION_TYPE,
            C.CREATED_AT,
            C.UPDATED_AT,
            C.LINK,
            C.KEYWORD,
            UC.NAME AS upload_channel_name
        FROM
            CONTENT C
                LEFT JOIN UPLOAD_CHANNEL UC ON C.UPLOAD_CHANNEL_ID = UC.ID
        WHERE
            C.USER_ID = #{userId}
        <if test="status != null">
            AND C.STATUS = #{status}
        </if>
        ORDER BY
            C.UPDATED_AT DESC, C.CREATED_AT DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT(*)
        FROM CONTENT
        WHERE USER_ID = #{userId}
        <if test="status != null">
            AND STATUS = #{status}
        </if>
    </select>

    <select id="findByJobId" parameterType="string" resultType="Content">
        SELECT
            ID,
            JOB_ID,
            USER_ID,
            UPLOAD_CHANNEL_ID,
            TITLE,
            BODY,
            STATUS,
            GENERATION_TYPE,
            CREATED_AT,
            UPDATED_AT,
            LINK,
            KEYWORD
        FROM
            CONTENT
        WHERE
            JOB_ID = #{jobId}
    </select>

    <select id="findById" parameterType="long" resultType="Content">
        SELECT
            ID,
            JOB_ID,
            USER_ID,
            UPLOAD_CHANNEL_ID,
            TITLE,
            BODY,
            STATUS,
            GENERATION_TYPE,
            CREATED_AT,
            UPDATED_AT,
            LINK,
            KEYWORD
        FROM
            CONTENT
        WHERE
            ID = #{id}
        AND
            USER_ID = #{userId}
    </select>

    <insert id="insert" parameterType="Content" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
        INSERT INTO CONTENT (
                 JOB_ID,
                 USER_ID,
                 TITLE,
                 BODY,
                 STATUS,
                 GENERATION_TYPE,
                 UPLOAD_CHANNEL_ID,
                 CREATED_AT,
                 UPDATED_AT,
                 LINK,
                 KEYWORD
        ) VALUES (
                #{jobId},
                #{userId},
                #{title},
                #{body},
                #{status},
                #{generationType},
                #{uploadChannelId},
                #{createdAt},
                #{updatedAt},
                #{link, jdbcType=VARCHAR},
                #{keyword, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="Content">
        UPDATE CONTENT
        SET
            TITLE = #{title},
            BODY = #{body},
            UPDATED_AT = #{updatedAt}
        WHERE
            ID = #{id}
        AND
            USER_ID = #{userId}
    </update>

    <update id="updateStatus" parameterType="Content">
        UPDATE CONTENT
        SET
            STATUS = #{status},
            UPDATED_AT = #{updatedAt}
        WHERE
            ID = #{id}
        AND
            USER_ID = #{userId}
    </update>

    <update id="updateLinkByJobId">
        UPDATE CONTENT
        SET
            LINK = #{link, jdbcType=VARCHAR},
            UPDATED_AT = SYSTIMESTAMP
        WHERE
            JOB_ID = #{jobId}
    </update>

</mapper>
