<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_team4.finalbe.content.mapper.ContentMapper">

    <insert id="insert" parameterType="Content" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
        INSERT INTO CONTENT (
                 JOB_ID,
                 USER_ID,
                 TITLE,
                 BODY,
                 STATUS,
                 GENERATION_TYPE,
                 UPLOAD_CHANNEL_ID,
                 CREATED_AT,
                 UPDATED_AT
        ) VALUES (
                #{jobId},
                #{userId},
                #{title},
                #{body},
                #{status},
                #{generationType},
                #{uploadChannelId},
                #{createdAt},
                #{updatedAt}
        )
    </insert>

</mapper>
