<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_team4.finalbe.setting.mapper.notification.NotificationCredentialMapper">
    <select id="findById" parameterType="long" resultType="NotificationCredential">
        SELECT
            *
        FROM
            USER_NOTIFICATION_CREDENTIAL
        WHERE
            id = #{id}
        and
            user_id = #{userId}
    </select>
    <select id="findByChannelId" parameterType="long" resultType="NotificationCredential">
        SELECT
            *
        FROM
            USER_NOTIFICATION_CREDENTIAL
        WHERE
            NOTIFICATION_CHANNEL_ID = #{channelId}
        and
            user_id = #{userId}
    </select>

    <select id="findByChannelIdWithActive" parameterType="long" resultType="NotificationCredential">
    SELECT
        *
    FROM
        USER_NOTIFICATION_CREDENTIAL
    WHERE
        NOTIFICATION_CHANNEL_ID = #{channelId}
    and
        user_id = #{userId}
    and
        IS_ACTIVE = 1
    </select>

    <update id="update" parameterType="NotificationCredential">
        UPDATE
            USER_NOTIFICATION_CREDENTIAL
        SET
            WEBHOOK_URL = #{webhookUrl},
            API_TOKEN = #{apiToken},
            IS_ACTIVE = #{isActive},
            UPDATED_AT = SYSDATE
       WHERE
            ID = #{id}
       and
            USER_ID = #{userId}
    </update>
    <update id="updateByActive">
        UPDATE
            USER_NOTIFICATION_CREDENTIAL
        SET
            IS_ACTIVE = #{isActive}
        WHERE
            USER_ID = #{userId}
        and
            ID = #{id}
    </update>
    <insert id="insert" parameterType="NotificationCredential" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
            USER_NOTIFICATION_CREDENTIAL (USER_ID, NOTIFICATION_CHANNEL_ID, WEBHOOK_URL, API_TOKEN, IS_ACTIVE)
        VALUES
            (
                #{userId},
                #{channelId},
                #{webhookUrl},
                #{apiToken},
                #{isActive}
            )
    </insert>
</mapper>