<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_team4.finalbe.trend.mapper.TrendMapper">

    <insert id="insert" parameterType="Trend" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_TREND.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TREND (
            ID,
            CATEGORY_ID,
            KEYWORD,
            SEARCH_VOLUME,
            CREATED_AT,
            SNS_TYPE
        ) VALUES (
            #{id},
            #{categoryId},
            #{keyword},
            #{searchVolume},
            #{createdAt},
            #{snsType}
        )
    </insert>

    <select id="findAll" resultType="Trend">
        SELECT
            ID,
            CATEGORY_ID,
            KEYWORD,
            SEARCH_VOLUME,
            CREATED_AT,
            SNS_TYPE
        FROM TREND
        ORDER BY CREATED_AT DESC, SEARCH_VOLUME DESC
    </select>

</mapper>
